<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Vanilla JS TODO App</title>
    <link href="https://cdn.jsdelivr.net/npm/bulma/css/bulma.min.css" rel="stylesheet">
    <script src="app.js"></script>
</head>
<body>
<div class="container mt-5">
    <h1 class="title">TODO App with Vanilla JS</h1>

    <!-- Add TODO Form -->
    <form>
        <div class="field">
            <div class="control">
                <input class="input" name="todo" placeholder="Add a new task" required type="text">
            </div>
        </div>
        <button class="button is-primary" type="submit">Add TODO</button>
    </form>

    <!-- TODO List -->
    <ul class="mt-5" id="todo-list">
        {% include "partials/todo_list.html" %}
    </ul>

    <!-- Templates -->
    <template id="edit-template">
        <li>
            <form onsubmit="return false;">
                <label>
                    <input class="input is-small" name="text" required type="text">
                </label>
                <button class="button is-small is-success" type="submit">Save</button>
                <button class="button is-small is-light cancel" type="button">Cancel</button>
            </form>
        </li>
    </template>
</div>
</body>
</html>
